# SPDX-FileCopyrightText: 2026 TII (SSRC) and the Ghaf contributors
# SPDX-License-Identifier: Apache-2.0
packages/storage/lvm2-offline/offline-regular-files.patch -whitespace
packages/storage/cryptsetup-offline/offline-file-convert.patch -whitespace
